*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    border:none;
}
body{
    width:100%;
    background-color: rgb(163, 209, 163);
    line-height: 30px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color:rgb(12, 105, 12);
}
a:hover{
    font-weight: 550;
}
.navbar {
    height: 50px;
    width: 100%;
    background: white;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}
.navbar .nav {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.navbar .nav ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.navbar .nav ul>li {
    width: 100%;
    height: 100%;
}
.navbar .nav ul>li:hover {
    color: #fff;
    background:rgb(193, 252, 193) ;
}
.navbar .nav ul>li>a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 70px;
    height: 100%;
}
.navbar .nav ul>li ul {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    display: block;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: scaleY(0);
    transition: all 0.6s;
    z-index: 1;
}
.navbar .nav ul>li ul li {
    height: 50px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.navbar .nav u1>li ul li a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 70px;
    height: 100%;
}
.navbar .nav ul>li ul li:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.navbar .nav ul>li:hover ul {
    background-color: rgba(0, 0, 0, 0.03);
    transform: scaleY(1);
}
.essay{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position:absolute;
    background-color: ivory;
}
.essay .container{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
}
.essay .container img{
    margin:auto;
}
p{
    text-indent: 25px;
}
.essay .content{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
}
.essay .content dl>dd{
    margin-left: 50px;
}
.essay .text{
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
table{
    margin-left: 1px;
    border-spacing: 0em;
    border:2px solid green;
    border-collapse: collapse;
}
td{
    border:2px solid rgb(178, 202, 141);
    text-align: center;
}
tr{
    border: 2px solid green;
}
.essay .text .code{
    display: block;
    
}