*{
    font-family:"微软雅黑";
    font-size: 35;
    margin: 0;
    padding:0;
    border:none;
}
body{
    width:100%;
    background-image: url(../images/橘生淮南2.jpg);
    background-size: cover;
}
li {
    list-style:none;
}
a {
    text-decoration: none;
    color: rgb(179, 71, 89);
}
a:hover{
    font-weight: 550;
}
.navbar {
    height: 50px;
    width: 100%;
    background: white;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}
.navbar .nav {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.navbar .nav ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.navbar .nav ul>li {
    width: 100%;
    height: 100%;
}
.navbar .nav ul>li:hover {
    color: #fff;
    background: rgb(248, 157, 157);
}
.navbar .nav ul>li>a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 70px;
    height: 100%;
}
.navbar .nav ul>li ul {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    display: block;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: scaleY(0);
    transition: all 0.6s;
    z-index: 1;
}
.navbar .nav ul>li ul li {
    height: 50px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.navbar .nav u1 li ul li a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 70px;
    height: 100%;
}
.navbar .nav ul li ul li:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.navbar .nav ul li:hover ul {
    background-color: rgba(0, 0, 0, 0.03);
    transform: scaleY(1);
}
.box{
    width: 200px;
    height:550px;
    background-color: rgba(0,0, 0, 0.2);
    font-family:Verdana, Geneva;
}
.box .content dt{
    text-indent: 16px;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    height: 40px;
}
.box .content dd{
    color:ivory;
    text-indent: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height:30px;
    margin: 0, auto,2px;
}
.box .content dt a{
    text-decoration: none;
    color:white;
}
