*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    border:none;
}
body{
    width:100%;
    background-color: rgb(163, 209, 163);
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: rgb(12, 105, 12);
}
a:hover{
    font-weight: 550;
}
.navbar {
    height: 50px;
    width: 100%;
    background: white;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}
.navbar .nav {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.navbar .nav ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.navbar .nav ul>li {
    width: 100%;
    height: 100%;
}
.navbar .nav ul>li:hover {
    color: #fff;
    background: rgb(193, 252, 193);
}
.navbar .nav ul>li>a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 70px;
    height: 100%;
}
.navbar .nav ul>li ul {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    display: block;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: scaleY(0);
    transition: all 0.6s;
    z-index: 1;
}
.navbar .nav ul>li ul li {
    height: 50px;
    border-bottom: 1px solid rgb(245, 245, 245);
}
.navbar .nav u1>li ul li a {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 70px;
    height: 100%;
}
.navbar .nav ul>li ul li:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.navbar .nav ul>li:hover ul {
    background-color: rgba(0, 0, 0, 0.03);
    transform: scaleY(1);
}
.essay{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position:absolute;
    background-color: ivory;
}
.essay .container{
    width: 100%;
    height: 80px;
}
.essay .container .title{
    position:relative;
    width:600px;
    height: 50px;
    float: left;
    padding: 50px;
}
.essay .container .title:first-child{
    margin-bottom: 5px;
    margin-left: 100px;
    position: relative;
    width:100%;
    top:5px;
    left:5px;
    right:5px;
    line-height: 30px;
}
.essay .container .title:last-child{
    margin-top: 10px;
    margin-left: 80px;
    position: relative;
    width:100%;
    top:10px;
    left:5px;
    right:5px;
    line-height: 30px;
}
.essay .container .image{
    position: relative;
    width:45%;
    top:0;
    right:5px;
    height: 40px;
    float: right;
}
.essay .essay_body{
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 10px;
    background-color: ivory;
    line-height: 2em;
}
p{
    text-indent: 25px;
}
